        header {
            position: relative;
        }

        section header .text-overly {
            position: absolute;
            top: 20%;
            left: 8%;
            color: white;
            font-weight: bold;
            overflow: hidden;
        }

        .text-overly {
            overflow: hidden;
        }

        @media screen and (min-width:576px) {
            header .text-overly p {
                font-size: x-large
            }
            header .text-overly p {
                margin-top: 60px;
            }
        }

        @media screen and (min-width:720px) {
            header .text-overly p {
                font-size: 40px;
            }
        }

        @media screen and (min-width:1040px) {
            header .text-overly p {
                font-size: 80px;
                font-weight: 400;
            }
        }
