nav {
    position: absolute;
    z-index: 1;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    background: rgb(43, 45, 52);
    height: 120px;
    color: white;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    font-size: larger;
}

.row {
    padding-right: calc(var(--bs-gutter-x)* .5);
}

nav ul {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav .company {
    margin-left: 40px;
    font-size: medium;
}

.contact-info p {
    margin-left: 60px;
    margin-top: 20px;
    display: inline-block;
    text-wrap: nowrap;
}


/* Smart Phone Version */

@media (min-width:576px) {
    nav ul,
    .contact-info {
        display: none;
    }
    .mobile-menu-container {
        display: flex;
        position: fixed;
        z-index: 600;
        left: 0;
        right: 0;
        padding: 40px 32px;
        background: rgb(43, 45, 52);
        transform: translateY(-100%);
        transition: all 1200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .mobile-menu-container.active {
        transform: translateY(0);
    }
    .mobile-menu-container .menu-items {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .mobile-menu-container .close-icon {
        position: fixed;
        top: 32px;
        right: 52px;
    }
    .mobile-menu-container ul li a {
        list-style: none;
        display: inline-block;
        font-size: larger;
        padding: 14px;
        color: white;
        text-decoration: none;
        font-weight: 600;
    }
}

@media (min-width:720px) {
    nav ul,
    .contact-info {
        display: none;
    }
    .mobile-menu-container {
        display: flex;
    }
}


/* Tablet version */

@media (min-width:1040px) {
    nav ul {
        display: flex;
    }
    nav .contact-info {
        display: flex;
    }
    nav .menu-icon {
        display: none;
    }
    nav ul,
    .contact-info {
        gap: 20px;
        font-size: larger;
    }
    .mobile-menu-container {
        display: none;
    }
}
