:root {
    --dark-color: #454751;
    --red-color: #E84545;
    --light-blue: #7BACC6;
    --sky-blue: #00AEFF;
    --light-gray: #D9D1D2;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: #454751;
    margin: 0;
    font-family: "inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}
